.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-date {
  margin-left: auto;
  margin-right: 150px; /* adjust this value to move left/right */
}

.edu-date {
  margin-left: auto;
  margin-right: 150px; /* adjust this value to move left/right */
}

.cert-title {
  color: black;
}

#visitor-count {
  font-weight: bold;
  color: black;
}

#visitor-count-num {
  font-weight: bold;
  color: white;
}
